/* ===== General ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #2b9bba;
    padding: 15px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

.container {
    padding: 30px;
}

h1 {
    color: #2b9bba;
}

.flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

/* ===== Table ===== */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* ===== Form ===== */
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #2b9bba;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffcc00;
    color: #2b9bba;
}